@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased font-serif selection:bg-accent/20 selection:text-accent;
    line-height: 1.8;
    /* Subtle paper noise texture */
    background-color: theme('colors.background');
    background-image: url("/assets/noise-200.svg");
  }
  
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
}
